################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStore/BookStore/obj/Debug/netcoreapp3.1
/BookStore/BookStore/obj/Release/netcoreapp3.1
/BookStoreMVC/.vs/BookStoreMVC/v16
/BookStoreMVC/BookStoreMVC/obj
/BookStoreMVC/BookStoreMVC/bin/Debug/netcoreapp3.1
/BookStoreMVC/.vs/BookStoreMVC/config
/BookStoreMVC/.vs/BookStoreMVC/DesignTimeBuild
